body { font-family: Arial, Helvetica, sans-serif;}

table, td, th{
    border: 1px solid rgba(0,0,0, .2);
}

table {
    border-collapse: collapse;
    width: 500px;
    text-align: center;
}

th, td{
    padding: 10px 20px;
}

th {
    background: #009ddc;
    color: #fff;
}

tr:hover {
    background: #5e5e5e;
    color: aliceblue;
}