* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    width: 1000px;
    background: #ccc;
    margin: 20px auto;
}

header {
    background: #30323d;
    color: #fff;
    padding: 20px;
}


.main {
    background: #fff;
    padding: 20px;
    width: 700px;
    float: left;
}

aside {
    background: #e8c547;
    color: #fff;
    padding: 20px;
    width: 300px;
    float: left;
}

footer {
    clear: both;
    background: #4d5061;
    padding: 20px;
    color: #fff;
}